@import '../../../styles/variables.scss';

.date-picker {
  display: flex;
  align-items: center;
  padding-left: 45px;
  height: 70px;
  background-color: $white-color;

  &__icon {
    border-radius: 4px;
    font-size: 40px;
    background-color: $blue-color;
    color: $white-color;
  }

  &__input {
    margin-left: 10px;
    width: 110px;
    border: none;
  }
}
