.search-flight {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  width: 760px;

  &__title {
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.search-form {
  height: 80px;
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    fill: #bfccc9;
  }

  &__input {
    display: block;
    padding: 0 220px 0 70px;
    width: 100%;
    height: 80px;
    border: none;
    border-top-right-radius: 90px;
    font-size: 24px;
  }

  &__submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    width: 200px;
    height: 80px;
    border: none;
    border-top-right-radius: 80px;
    background-color: #1eb7ee;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      border-top-right-radius: 40px;
      background-color: #228cfd;
    }
  }
}
